*{
  margin: 0;
}

.header{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.name{
  margin: 20px;
}

strong{
  background-color: rgb(58,  58, 58 );
  color: white;
  padding: 10px;
}

img{
  width: 100%;
  height: auto;
}

h2{
  margin: 10px;
}

p{
  margin: 10px;
}

.intro{
  grid-area: intro;
  margin: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding-bottom: 10px;
}

.about-me{
  grid-area: about-me;
  margin: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 10px;
}

.lesson{
  grid-area: lesson;
  margin: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 10px;
}

.dull{
  grid-area: dull;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 10px;
}

.learn{
  grid-area: learn;
  margin: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding-bottom: 10px;
}


.subscribe{
  grid-area: subscribe;
}

form{
  display: flex;
  flex-wrap: wrap;
}

.enter-email{
  margin: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid lightgrey;
}

.subscribe-btn{
  margin: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid lightgrey;
  background-color: brown;
}

.follow-me{
  grid-area: follow-me;
}

i{
  margin: 10px;
}

.footer{
  text-align: center;
  background-color:grey;
  padding: 10px;
  color: white;
}

@media(min-width:1000px){
  
  .home{
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-areas: "intro intro about-me"
    "lesson lesson dull"
    "learn learn learn";
  }

  p{
    font-size: large;
  }

  .contact{
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-areas: "subscribe follow-me";
  }
}